 {%extends 'blog/base.html' %}
    {%block content%}

                <h1>Our services</h1>
     <img src="https://img.freepik.com/premium-vector/teamwork-of-business-people-co-working_40876-1156.jpg">

 <ul class="list-group">
  <li class="list-group-item">From Monday to Friday</li>
  <li class="list-group-item">Working on</li>
  <li class="list-group-item">your</li>
  <li class="list-group-item">promblem</li>
  <li class="list-group-item">is in progress</li>
</ul>


{%endblock%}